.form {
    background-color: white;
    padding: 25px;
    margin: 0 0 7px 0;
    width: 100%;
}

.form__container {
    display: flex;
    flex-flow: row wrap;
}

.form__input {
    padding: 8px;
    margin: 0 10px 0 0;
    flex-grow: 5;
}

.form__button {
    padding: 8px;
    margin: 0 0 0 10px;
    background-color: teal;
    color: white;
    border: 0;
    flex-grow: 1;
}