html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: border-box;
}

.body {
    font-family: 'Lato', sans-serif;
    margin: 10px;
    background-color: rgba(207, 203, 203, 0.233);
}