.tasks {
    list-style: none;
    background-color: white;
    padding: 30px;
    width: 100%;
    margin: 0;
}

.tasks__item {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-gap: 10px;
    align-items: center;
}

.tasks__content--done {
    text-decoration: line-through;
}

.tasks__button--green {
    background-color: green;
    border: 0;
    color: white;
    width: 35px;
    height: 35px;
    margin: 5px;
}

.tasks__button--red {
    background-color: red;
    border: 0;
    color: white;
    width: 35px;
    height: 35px;
    margin: 5px;
}